*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;

  /* background-color: #f9e974; */
  background-image: url(./images/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 2rem;
}

.brand {
  font-size: 5rem;
  font-family: "Suez One", serif;
  letter-spacing: 1px;
  color: rgb(170, 43, 26);
  margin: auto 0 2rem 0;
}

.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 64rem;
}

.level {
  font-size: 2.3rem;
  margin-bottom: 1.3rem;
}

.remaining-moves {
  font-size: 2rem;
  margin-bottom: 1rem;
}

td {
  width: 8rem;
  height: 8rem;
  position: relative;
  border: 1px solid black;
}

.chess-grid {
  border-collapse: collapse;
  position: relative;
  margin-bottom: 2rem;
}

.chess-grid::after,
.chess-grid::before {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  background-color: rgb(146, 45, 20);
  border: 1px solid black;
}

.chess-grid::after {
  width: calc(100% - 1px);
  height: 12px;
  bottom: -12px;
  left: 5px;
  transform: skewX(35deg);
}

.chess-grid::before {
  height: calc(101% - 1px);
  right: -8px;
  top: 3px;
  width: 8px;
  transform: skewY(45deg);
}

.figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 5rem;
  pointer-events: none;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.dialog {
  position: absolute;
  display: block;
  z-index: 100;
  width: 60rem;
  background-color: white;
  border-radius: 2rem;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.backdrop {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.finish-result {
  font-size: 4rem;
  font-family: "Suez One", serif;
  letter-spacing: 1px;
}

.finish-description {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.finish-button {
  outline: none;
  border: none;
  padding: 1.5rem 2rem;
  background-color: rgb(170, 43, 26);
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  font-size: 1.6rem;
  margin: auto 0 1rem 0;
}

/* 700px */
@media (max-width: 43.75em) {
  td {
    width: 6rem;
    height: 6rem;
  }

  .game-info {
    width: 48rem;
  }

  .dialog {
    width: 90%;
  }

  .finish-result {
    font-size: 3rem;
  }

  .finish-description {
    font-size: 1.6rem;
  }

  .finish-button {
    padding: 1.3rem 1.8rem;
  }
}

/* 550px */
@media (max-width: 34.375em) {
  td {
    width: 4.5rem;
    height: 4.5rem;
  }

  .game-info {
    width: 36rem;
  }

  .figure {
    height: 4rem;
  }
}

@media screen {
  html {
    font-size: 55%;
  }
}
